[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/indentLine"]
	path = .vim/disBundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/powerline/powerline
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-americanize"]
	path = .vim/bundle/vim-americanize
	url = https://github.com/nelstrom/vim-americanize
[submodule ".vim/bundle/vim-argumentative"]
	path = .vim/bundle/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative
[submodule ".vim/bundle/vim-cpplint"]
	path = .vim/bundle/vim-cpplint
	url = https://github.com/funorpain/vim-cpplint
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/Hardy"]
	path = .vim/bundle/Hardy
	url = https://github.com/vim-scripts/Hardy
[submodule ".vim/bundle/vim-husk"]
	path = .vim/bundle/vim-husk
	url = https://github.com/vim-utils/vim-husk
[submodule ".vim/bundle/vim-indent-guides"]
	path = .vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule ".vim/bundle/vim-windowswap"]
	path = .vim/bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule ".vim/bundle/vimperator.vim"]
	path = .vim/bundle/vimperator.vim
	url = https://github.com/vimperator/vimperator.vim
[submodule ".vim/bundle/vim-speeddating"]
	path = .vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-arduino-syntax"]
	path = .vim/bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax
[submodule ".vim/bundle/vim-expand-region"]
	path = .vim/bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/disBundle/vim-clang"]
	path = .vim/disBundle/vim-clang
	url = https://github.com/justmao945/vim-clang
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/bundle/https:/github.com/MarcWeber/vim-addon-mw-utils.git"]
	path = .vim/bundle/https:/github.com/MarcWeber/vim-addon-mw-utils.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/bergercookie/vim-snippets
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-python-pep8-indent"]
	path = .vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/cmake.vim"]
	path = .vim/bundle/cmake.vim
	url = https://github.com/jalcine/cmake.vim
[submodule ".vim/bundle/vim-maximizer"]
	path = .vim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer.git
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/ansible-vim"]
	path = .vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/writegood.vim"]
	path = .vim/bundle/writegood.vim
	url = https://github.com/davidbeckingsale/writegood.vim
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/bundle/vim-racer"]
	path = .vim/bundle/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule ".vim/bundle/vim-cmake-syntax"]
	path = .vim/bundle/vim-cmake-syntax
	url = https://github.com/nickhutchinson/vim-cmake-syntax
[submodule ".vim/bundle/bullets.vim"]
	path = .vim/bundle/bullets.vim
	url = https://github.com/dkarter/bullets.vim
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule ".vim/bundle/vim-operator-user"]
	path = .vim/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule ".vim/bundle/vim-haskell-indent"]
	path = .vim/bundle/vim-haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent
[submodule ".vim/bundle/vim2hs"]
	path = .vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc

[submodule ".vim/bundle/vim-hindent"]
	path = .vim/bundle/vim-hindent
	url = https://github.com/alx741/vim-hindent
[submodule ".vim/bundle/vim-gtest"]
	path = .vim/bundle/vim-gtest
	url = https://github.com/alepez/vim-gtest
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree/
[submodule ".vim/bundle/terminus"]
	path = .vim/bundle/terminus
	url = https://github.com/wincent/terminus
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/detectindent"]
	path = .vim/bundle/detectindent
	url = https://github.com/ciaranm/detectindent
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule ".vim/bundle/vim-scriptease"]
	path = .vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/YCM-Generator"]
	path = .vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator
[submodule ".vim/bundle/vim-sort-motion"]
	path = .vim/bundle/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion
[submodule ".vim/bundle/vim-exchange"]
	path = .vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange
[submodule ".vim/bundle/calendar.vim"]
	path = .vim/bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule ".vim/bundle/vim-markdown-folding"]
	path = .vim/bundle/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".vim/bundle/vim-tmux-runner"]
	path = .vim/bundle/vim-tmux-runner
	url = https://github.com/christoomey/vim-tmux-runner
[submodule ".vim/bundle/vim-vspec"]
	path = .vim/bundle/vim-vspec
	url = https://github.com/kana/vim-vspec
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv
[submodule ".vim/bundle/vim-debugstring"]
	path = .vim/bundle/vim-debugstring
	url = git@github.com:bergercookie/vim-debugstring

[submodule ".vim/disBundle/indentLine"]
	path = .vim/disBundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/bundle/vim-clang"]
	path = .vim/bundle/vim-clang
	url = https://github.com/justmao945/vim-clang
[submodule ".vim/bundle/vim-grep-operator"]
	path = .vim/bundle/vim-grep-operator
	url = https://github.com/inside/vim-grep-operator
[submodule ".vim/bundle/vimdoc"]
	path = .vim/bundle/vimdoc
	url = https://github.com/google/vimdoc
