[submodule ".vim/bundle/indentLine"]
	path = .vim/disBundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/disBundle/vim-clang"]
	path = .vim/disBundle/vim-clang
	url = https://github.com/justmao945/vim-clang
[submodule ".vim/bundle/https:/github.com/MarcWeber/vim-addon-mw-utils.git"]
	path = .vim/bundle/https:/github.com/MarcWeber/vim-addon-mw-utils.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/disBundle/indentLine"]
	path = .vim/disBundle/indentLine
	url = https://github.com/Yggdroot/indentLine
